# Pasta de código
client/**
server/**
**/*.ts

# Arquivos de configuração
.vscode/**
.vscode-test/**
.husky/**
.gitignore
.yarnrc
.editorconfig
**/tsconfig.json
**/*.map
**/.vscode-test.*
esbuild.js
biome.json

# Outros
vsc-extension-quickstart.md
